body {
	display: flex;
	flex-direction: column;

	min-width: 100vw;
	min-height: 100vh;
}

header h1 {
	text-align: center;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Gameboards */
.board-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.gameboard {
	--size: 35vw; /* Width/Height of gameboard will both be the same */
	width: var(--size);
	height: var(--size);

	display: flex;
	position: relative;

	border: 2px solid black;
	background-color: blue;
}

.col {
	display: flex;
	flex-direction: column-reverse;
	flex: 1;

	border-left: 2px solid black;
	border-right: 2px solid black;
}

.cell {
	position: relative;

	flex: 1;

	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.cell img {
	position: absolute;
}

/* Water like pattern */
.col:nth-child(even) :nth-child(even) {
	background-image: linear-gradient(to bottom right, blue, rgb(0, 106, 255), rgb(40, 173, 255), rgb(0, 106, 255), blue);
}

.col:nth-child(even) :nth-child(odd) {
	background-image: linear-gradient(to bottom left, blue, rgb(0, 106, 255), rgb(40, 173, 255), rgb(0, 106, 255), blue);
}

.col:nth-child(odd) :nth-child(even) {
	background-image: linear-gradient(to bottom right, rgb(0, 106, 255), rgb(40, 173, 255), blue, rgb(40, 173, 255), rgb(0, 106, 255));
}
.col:nth-child(odd) :nth-child(odd) {
	background-image: linear-gradient(to bottom left, rgb(0, 106, 255), rgb(40, 173, 255), blue, rgb(40, 173, 255), rgb(0, 106, 255));
}

#player1 .hit, #player2 .hit {
	background-color: rgba(255, 22, 22, 0.786);
	background-image: none;
}

.ship-container {
	margin-top: 2rem;

	display: flex;
	justify-content: center;
	gap: 1rem;
}

.gameboard .col .cell img {
	background-image: none;
}

.x-icon {
	/* Color Icon Red */
	filter: invert(14%) sepia(90%) saturate(5380%) hue-rotate(2deg) brightness(106%) contrast(125%);
	z-index: 3;
}
