@font-face {
	font-family: Rubik;
	src: url(../src/assets/Rubik-VariableFont_wght.ttf);
}

:root {
	font-size: clamp(16px, 3vmin, 40px);
	font-family: Rubik, Arial, Helvetica, sans-serif;

	/* Colors */
	--dark-blue: #011638ff;
	--blue: #0d21a1ff;
	--night: #141414ff;
	--antiflash-white: #eef0f2ff;
	--gray: rgba(96, 96, 96, 0.682);
	--saffron: #eec643ff;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;

	min-width: 100vw;
	min-height: 100vh;

	background-color: var(--dark-blue);
	color: var(--saffron);
}

header {
	z-index: 3;
}

header h1 {
	text-align: center;
	font-size: 2.5em;

	/* Text Gradient */
	background: linear-gradient(to bottom, var(--antiflash-white) 15%, yellow 50%, rgb(253, 180, 11) 90%);
	background-clip: text;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.start-screen {
	width: 100vw;
	height: 100vh;

	z-index: 2;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var(--dark-blue);
	color: var(--saffron);
}

button {
	font: inherit;
	font-size: .8em;
	border-color: var(--saffron);
	border-radius: .4rem;
	background-color: var(--blue);
	color: var(--saffron);

	width: fit-content;
	height: fit-content;
	margin-top: .5em;
	padding: .3em;
}

form {
	width: 25%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: .5em;

	width: 80%;
}

.hide, .start-screen.hide, .transition.hide {
	display: none;
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/* Gameboards */
.board-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.gameboard {
	--size: 30vw; /* Width/Height of gameboard will both be the same */
	width: var(--size);
	height: var(--size);
	box-sizing: content-box;

	display: flex;
	position: relative;

	border: .3rem solid var(--blue);
	background-color: blue;
}

.col {
	display: flex;
	flex-direction: column-reverse;
	flex: 1;
}

.cell {
	position: relative;

	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 2px solid var(--night);
}

#player1 .cell.hover {
	background-image: none;
	background-color: rgb(97, 142, 255);
}

/* Give the Ship imgs an offset inside the '.cell's
so they arent touching the very top of the .cell */
.cell img:not(.x-icon) {
	position: absolute;
	top: 8%;
}

/* Water like pattern */
.col:nth-child(even) :nth-child(even) {
	background-image: linear-gradient(to bottom right, blue, rgb(0, 106, 255), rgb(40, 173, 255), rgb(0, 106, 255), blue);
}

.col:nth-child(even) :nth-child(odd) {
	background-image: linear-gradient(to bottom left, blue, rgb(0, 106, 255), rgb(40, 173, 255), rgb(0, 106, 255), blue);
}

.col:nth-child(odd) :nth-child(even) {
	background-image: linear-gradient(to bottom right, rgb(0, 106, 255), rgb(40, 173, 255), blue, rgb(40, 173, 255), rgb(0, 106, 255));
}
.col:nth-child(odd) :nth-child(odd) {
	background-image: linear-gradient(to bottom left, rgb(0, 106, 255), rgb(40, 173, 255), blue, rgb(40, 173, 255), rgb(0, 106, 255));
}

#player1 .hit, #player2 .hit {
	background-color: rgba(255, 22, 22, 0.786);
	background-image: none;
}

.ship-container {
	padding: .5rem;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;

	background-color: var(--gray);
	border-radius: 1.5rem;
	position: relative;
}

/* 
- Container will have .column when the images should be rotated inside container
- Just flipping the container to 'flex-direction: column;' doesnt orient imgs properly
- Instead, 'absolutely' position images and set position properties with javascript
('top:' prop will be different for each image)
*/
.ship-container.column img {
	position: absolute;
}

.gameboard .col .cell img {
	background-image: none;
}

/* Rotate class for Ships
`transform-origin` prop needs to be added dynamically (will be different for every ship) */
.rotate {
	transform: rotate(-90deg);
	z-index: 2;
}

.rotate-btn {
	position: absolute;
	top: .5rem;
}

.start {
	height: fit-content;
}

.move-info p {
	text-align: center;
}

.x-icon {
	/* Color Icon Red */
	filter: invert(14%) sepia(90%) saturate(5380%) hue-rotate(2deg) brightness(106%) contrast(125%);
	z-index: 2;
}

/* Transition screen between turns */
.transition {
	/* Fixed POS, taking up the whole VP */
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	z-index: 2;

	background-color: var(--dark-blue);

	/* Center content */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: auto;
}

.transition h1 {
	text-align: center;
}
